@model BookStore.ViewModels.BookAuthorViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="@Model.Book.ID" class="control-label"></label>
            <input asp-for="@Model.Book.ID" class="form-control" />
            <span asp-validation-for="@Model.Book.ID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="@Model.Book.Title" class="control-label"></label>
                <input asp-for="@Model.Book.Title" class="form-control" />
                <span asp-validation-for="@Model.Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.Description" class="control-label"></label>
                <input asp-for="@Model.Book.Description" class="form-control" />
                <span asp-validation-for="@Model.Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    @*<label asp-for="@Model.Book.ImageUrl" class="control-label"></label>*@
                    @*<input type="file" name="file" asp-for="@Model.Book.ImageUrl" class="form-control" />*@
                    <label  class="control-label custom-file-label">Choose File .....</label>
                    <input type="file"  name="file" asp-for="@Model.Book.ImageUrl" class="form-control custom-file-input" />
                    <span asp-validation-for="@Model.Book.ImageUrl" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.Author.ID" class="control-label">Author Name</label>
                @*<input asp-for="@Model.Book.Description" class="form-control" />*@
                <select asp-for="@Model.Book.Author.ID" class="form-control" asp-items="@(new SelectList(Model.Author,"ID","FullName"))"></select>
                <span asp-validation-for="@Model.Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_validate"/>
}
